$coloreFontPrimario: black;
$opacityFontPrimario: 0.8;

$coloreFontSecondario: #f4f4f4;
$opacityFontSecondario: 0.8;

$coloreBottone1: #0e6cff;
$coloreBottone2: #ff8700;
$coloreBottone3: #4caf50;

$coloreSfondo: #640fc5;